{% extends 'base.html' %}

{% block content %}

<div x-data="{ count:0 }">
    <input type="number" x-model="count" />
    <button @click="count++">Increment</button>
    <button @click="count *= count">Increment</button>
    <span x-text="count"></span>
</div>

<div x-data="{
    people:[
        {
            name:'John',
            image:'https://via.placeholder.com/150'
        },
        {
            name:'Jeff',
            image:'https://via.placeholder.com/150'
        }
    ]
}">
    <template x-for="person in people">
        <div>
            <p x-text="person.name"></p>
            <img :src="person.image" />
        </div>
    </template>

</div>

{% endblock %}